/* Variables for easier customization */
:root {
    --primary-color: #007bff;
}

.cloud-poll {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f4f2;
}

.poll-container {
    max-width: 600px;
    height: 90%;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    animation: fadeIn 0.5s ease;
}

#erwthsh {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--primary-color);
}

#apotelesmata {
    color: #555;
    font-size: 18px;
    margin-top: 10px;
}

#your-vote {
    color: #555;
    margin-right: 10px;
    margin-top: 10px;
}

/* Custom Radio Buttons */
form input[type="radio"] {
    display: none;  /* Hide the default radio button */
}

form label {
    display: block;
    position: relative;
    padding-left: 35px;  /* Space for custom radio button */
    margin-bottom: 24px;
    font-weight: bold;
    font-size: 20px;
    color: #555;
    cursor: pointer;
    transition: color 0.3s ease, background-color 0.3s ease;
}

form label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    transition: background 0.2s;
}

form label:hover:before,
form input[type="radio"]:checked + label:before {
    background: rgba(0, 123, 255, 0.2);  /* A subtle highlight on hover or selection */
}

form label:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    border-radius: 50%;
    background: white;
    transition: opacity 0.2s;
    opacity: 0;  /* By default, this inner circle is hidden */
}

form input[type="radio"]:checked + label:after {
    opacity: 1;  /* When the radio is checked, show the inner circle */
}

/* Feedback on selection */
form label:hover,
form input[type="radio"]:checked + label {
    background-color: rgba(0, 123, 255, 0.2);  /* Same as the hover highlight */
    border-radius: 8px;
}

form input[type="submit"] {
    margin-top: 40px;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 18px 36px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 24px;
    transition: background-color 0.3s ease;
}

form input[type="submit"]:hover {
    background-color: #0056b3;
}

.selected-option {
    background-color: #e0e0e0;
    padding: 5px 10px;
    border-radius: 5px;
}

.radio-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

#message {
    font-size: 20px;
    font-weight: bold;
    color: #008000;
    margin-top: 20px;
    display: none;
    animation: fadeIn 1s ease;
}

.vote-container {
    height: 30px;
    display: flex;
    align-items: center;
}

.rectangle {
    width: 45px;
    height: 12px;
    background-color: #ff1825;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
