/* Variables for easier customization */
:root {
    --primary-color: #007bff;
    --selected-text-color: #333;  /* Darker text color when selected/hovered */
    --selected-dot-color: #888;  /* Darker inner dot color when selected */
}

.cloud-poll {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f4f2;
}

.poll-container {
    flex: 2;
    max-width: 600px;
    height: 90%;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    animation: fadeIn 0.5s ease;
}

#erwthsh, #apotelesmata {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--primary-color);
}

#apotelesmata {
    font-size: 18px;
}

#your-vote {
    font-size: 16px;
    color: black;
    margin-bottom: 0px;
}

/* Custom Radio Buttons */
form input[type="radio"] {
    display: none;  /* Hide the default radio button */
}

form label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 24px;
    font-weight: bold;
    font-size: 20px;
    color: #555;
    cursor: pointer;
}

form label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    background: radial-gradient(circle at center, white 40%, transparent 50%);
    transition: background 0.2s;
}

form label:after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    border-radius: 50%;
    background: #888;
    opacity: 0;  /* initially hidden */
}

form label:hover:before,
form input[type="radio"]:checked + label:before {
    background: radial-gradient(circle at center, white 40%, var(--primary-color) 50%);
}

form label:hover,
form label.selected-option {
    background-color: rgba(0, 123, 255, 0.2);
    border-radius: 8px;
    padding-left: 35px;
    color: var(--selected-text-color);  /* Darker text on hover */
}

/* Modify the inner dot color for better contrast when selected */
form input[type="radio"]:checked + label:after {
    opacity: 1;
    background: #888;
}

form input[type="submit"] {
    margin-top: 40px;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 18px 36px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 24px;
    transition: background-color 0.3s ease;
}

form input[type="submit"]:hover {
    background-color: #0056b3;
}

.radio-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

#message {
    font-size: 20px;
    font-weight: bold;
    color: #008000;
    margin-top: 20px;
    display: none;
    animation: fadeIn 1s ease;
}

.vote-container {
    height: 30px;
    display: flex;
    align-items: center;
}

.rectangle {
    width: 45px;
    height: 15px;
    background-color: #ff1825;
    margin-left: 5px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.poll-content-wrapper {
    display: flex;
    gap: 30px; /* Spacing between poll and the disclaimer */
    max-width: 1000px; /* Adjust as needed */
    margin: 0 auto; /* Centering the content-wrapper */
}

.data-info {
    flex: 1; /* This makes the disclaimer take the remaining space. Adjust if you want a specific width */
    font-size: 14px;
    color: #777; /* A soft color for the disclaimer */
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.poll-disclaimer-par {
    color: black;
    font-size: 2vh;
    line-height: 1.5;
}

.poll-disclaimer-title {
    color: black;
    font-size: 4vh;
    line-height: 1.5;
    margin-top: 7vh;
}
